/* font-family: "Poppins", sans-serif; */
*{
    font-family: "Poppins", sans-serif;
    /* background-color:antiquewhite; */
}
/* .container{
    margin: 0px 120px;
   
   /* background-color: rgb(52, 247, 159); */ 


.allpage1{
    margin-left: 0px;
    width:1400px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

         /* navbar section start */
.navbar{
   
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
   font-size: 37px;
   font-weight: 500;
}
.nav-logo samp{
    color: #025031;
    font-size: 40px;
    font-weight: 900;
}

.common{
    color: black;
    padding-left: 20px;
    text-decoration: none;
}
.nav-text{
    
    font-size: 14px ;
    font-weight: 600;
}
.common i{
    background-color: white;
    padding: 0.8em; 
    border-radius: 50%;  
    font-size: 18px;
    box-sizing: border-box;
    flex-shrink: 0;
   place-items: center;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.411);
}
.nav-text a::before{
    content: attr(data-social);
    position: absolute;
    background-color: #025031;
    color: white;
    padding: 0.5em 1em;
    border-radius: 100px;
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    margin-left: -10px;
}
.common i:hover{
    background-color:var(--accent-color);
    fill: white;
}
.nav-text a:hover:before{
    transform: translateY(-40px) rotate(0);
    opacity: 1;
}
.nabutton{
    height: 40px;
    width: 100px;
    background-color: #025031;
    color: white;
    border-radius: 10px;

}
         /* navbar section EAND */

         /* baner section Start */
.baner{
    padding-top: 40px;
    display: flex;
    /* width: 1300px; */
    background-image:url(photos/img11.png);
    background-size: cover;
    height: 600px;
    justify-content: center;
  
}
.top-text1{
    font-size: 50px;
    font-weight: 900;
    color: #025031;
}
    
.search1{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: end;
  
}
#grad1{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 500px;
    height: 80px;
    background-color:#004788; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,#004788 , #D71489);
}
.search-input1{
    display: flex;
}
.search-input{
    width: 330px;
    height: 46px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    background-color: #23A6F0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 1px;
   
}
.search-icon a{
    text-decoration: none;
    color: white;
    

}
         /* baner section End */
.emty1-text{
    padding-bottom: 10px;
    padding-top: 50px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 900;
}         


         /* footer1 seation Start */
.footer1{
    padding-bottom: 40px;
    padding-top: 40px;  
}
.footer11{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot1-left{
    
     height: 250px;
}
.foot1-right{
    margin-left: 10px;
    
}
.foot1-right h1{
    padding-top: 30px;
    margin: 0px;
    font-size: 25px;
    font-weight: 700px;
    width:600px ;
           
}
.foot1-right p{
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px;
    font-size: 19px;
    font-weight: 700px;
  
}
.foot1-right button{
     /* padding-top: 10px; */
     margin: 0px;
    width: 150px;
    height: 40px;
    background-color: #E02C6D;
    color: white;
    border: none; 
 }
#foot1-icon{
    padding-left: 8px;
}

         /* footer1 seation End */
/* 
#container3{
    display: flex;
} */





         /* footer-2 seation Start */
 .footer22{
    width: 1496px;
 }        
.footer2{
    width: 100%;
    margin-top: -20px;
    background-color: #0c081b;
    color: white;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    

}
.footer2 h1{
    padding-top: 20px;
    margin: 0px;
    font-size: 20;
    font-weight: 600;
    text-align: center;
}
.footer2 p{
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    padding-top: 10px;
    text-align: center;
}
.foot2-icon{
    padding-bottom: 20px;
    margin: 0px;
    padding-top: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

         /* foote-1 seation End */

          @media screen and (max-width:1360px) {
.container{
    margin: 0px 60px ;
}
.navbar{
    width: 1050px;

}   
.baner{
    width: 1000px;
   
} 
.emty1-text{
    width: 1000px;
}
.footer1{
   width: 1000px;
}


}         

         @media screen and (max-width:900px) {

.container{
    margin: 0px 16px;
}
.navbar{
    width: 800px; 
    margin-top: 50px;

}  
.baner{
    width: 800px;  
} 
.emty1-text{
    width: 800px;
}
.footer1{
   width: 800px;
}
    

/* footer -1 section start */

 
}
      /* footer -1 section End */

      
        /* @media screen and (max-width:650px) {
            #container33{
                width: 600;
            }
            
            #container3{
               margin-bottom: 20px;
            
            }
        } */



        @media screen and (max-width:400px) {

.container{
    margin: 0px 0px;
}

.navbar{
    width: 380px;   
} 

.nav-text{
    display:block;
    width: 25px;
     margin-left: 50px;
}
.nabutton{
    display: block;
} 
.nav-text{
   
}
/* baner section Start */
.baner{
    margin-top: 200px;
    display: flex;
    flex-direction: column-reverse;
   
} 
.search-input{
    width: 250px;
    height: 46px;
    
}
.search-icon{

}
.top-text1{
    font-size: 20px;
    font-weight: 900;
    color: #025031;
}
    
.search1{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: end;
  
}
#grad1{
    display: block;

    width: 380px;
    height: 80px;

}
.emty1-text{
    width: 380px;
}
.footer1{
   width: 300px;
}
.footer11{
    display: flex;
   
     padding: 0px;
     width: 360px;
 
}
.foot1-right{
    margin-left: 40px;
    margin-bottom: 40px;
    width: 380px;
    
}
.foot1-right h1{
    width: 380px;
}
.foot1-left{
    width: 380px;
}
/* #foot1-img{width: 380px;} */


#container33{
    width: 380;
}

#container3{
    gap: 10px;

}
 }
      /* footer -1 section End */
 